.mainModalDivSetter {
    width: 100%;
    overflow-y: scroll;
    background-color: #FFFFFF;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.installments {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
    color: black;
    margin: 1rem;
}

.deleteInstallmentButton {
    height: 1.5rem;
    width: 1.3rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.addmoreInstallments {
    margin-left: 80%;
    margin-top: 1rem;
    width: 3rem;
}

.selectOptions {
    width: 4rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.BillingAddress {
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 25rem;
    justify-content: space-between;
    align-items: center;
}

.txtArea {
    width: 18rem;
    height: 1rem;
}

.deliverable {
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    height: 11rem;
    margin-bottom: 2rem;
}

/*////////////////////// from here css ref to invoice pdf */
.invoic_main_div {
    width: 52rem;
    /* height: 15rem; */
    background-color: #fafdfe;
}

.addressOfJr_ {
    width: 9rem;
    font-size: 6px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgb(30, 30, 29);
    /* margin-top: -4px; */
    /* margin-left: 15px; */
}

.header_jr_invoice {
    display: flex;
    justify-content: space-between;
}

.Booking_details_invoice {
    justify-content: space-between;
    font-weight: 500;
    font-size: x-small;
    width: 94%;
    display: flex;
    margin-left: 1rem;

}

.invoice_jr_explanation_body {
    border: 1px solid;
    margin: 1rem;
}

.agent_details_jr_invoice {
    justify-content: space-between;
    font-weight: 500;
    font-size: x-small;
    width: 94%;
    display: flex;
    margin-left: 1rem;
    align-items: center;
    border-bottom: 1px solid;
}

.dataMapper_jr_invoice {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
}

.installment_data_header_jr_invoice {
    /* width: 88%; */
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}

.Grand_total_installments_jr_invoice {
    /* background: #acdede; */
    border: 1px solid;
    width: 38%;
    margin-left: 30rem;
}

.total_amount_jr_invoice {
    display: flex;
    justify-content: space-evenly;
    /* background: #acdede; */
}

.batches {
    width: 33px;
    height: 30px;
    margin-left: 6rem;
    /* margin-top: -1rem; */
}

.batches_controller_jr_invoice {
    color: #106d6d;
    display: flex;
    margin-top: -1rem;
}

.client_details_jr_invoice {
    display: flex;
    justify-content: space-around;
}

.font_jr_invoice {
    margin-top: -1.5rem;
}

.hotel_desc_jr_invoice {
    border: 1px solid;
    padding-left: 1rem;
    text-transform: capitalize;
}

.deliverable_documents_jr_invoice {
    display: flex;
    justify-content: space-between;
    font-size: x-small;
    font-weight: 600;
}

.inclusion_exclusion_jr_invoice {
    margin-top: 1rem;
    border: 1px solid;
}

.itineary_jr_invoice {
    margin-top: 1rem;
    border: 1px solid;
}

.terms_and_condition {
    border: 1px solid;
    margin-top: 2rem;
}

.whats_app {
    background: #7ad97a;
    border: none;
    border-radius: 1rem;
}

.cutomerservice {
    display: flex;
    justify-content: space-evenly;
    font-size: x-small;
    color: rgb(145, 140, 140);
    margin-bottom: 2rem;
}

.invoiceDownload_jr_invoice {
    width: 13%;
    font-weight: 600;
    background: #e4fe1e;
    border: none;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer_care_details_jr_invoice {
    display: flex;
    justify-content: space-around;
    width: 23rem;
    align-items: center;
}

.slectingpdf {
    border: 1px solid;
}

.slectingpdf_ {
    border: 1px solid red;
}

.setHeaderOfInvoice {
    /* width: 10rem; */
    height: 19rem;
    background-image: url("/public/assets/InvoiceAssets/header1.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.Details {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.page {
    width: 55rem;
    /* height: 78rem; */
}

.ClientDetails {
    display: flex;
    justify-content: space-around;
    /* width: 19rem; */
    font-weight: 700;
    font-family: arial;
}

.officeDetails {
    width: 19rem;
    font-weight: 700;
    font-family: arial;
}

.line {
    margin-top: 0rem;
    width: 1px;
    height: 10rem;
    background: black;
}




.paymentsSchedual{
    height: 5rem;
    width: 44.5rem;
    margin-left: 4rem;
    background-image: url("/public/assets/InvoiceAssets/PaymentsSchedual.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.Date{
    border: 2px solid black;
    margin-left: 4rem;
    height: 2rem;
    width: 14.6rem;
    font-weight: 700;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.DateValue{
    border: 2px solid black;
    margin-left: 4rem;
    height: 3rem;
    width: 14.6rem;
    font-weight: 700;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.PaymentsSchedualLine{
    width: 1px;
    background: black;
}
.mappingArea{
    display: flex;
}
.reducer{
    margin-right: -4rem;
}
.grandtotal{
    height: 10rem;
    width: 40rem;
    margin-left: 11rem;
    margin-top: 2rem;
    background-image: url("/public/assets/InvoiceAssets/grandtotal.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}
.total{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1.5rem;

}
.secondpage{
    width: 55rem;
    height: 78rem;
    background-image: url("/public/assets/InvoiceAssets/JRINVOICEPAGE2.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}