.headerinclusion{
    width: 50rem;
    height: 2rem;
    display: flex;
    align-items: center;
    background-color: aquamarine;
}
.center{
    margin: 7rem;
    margin-left: 20rem;
    width: 50rem;
    background-color:#FFFFFF

}
.inclusionContaint1{
    /* margin-left: 1rem; */
    font-weight: 600;
    background-color: rgb(165, 239, 214);
}
.indicatorHeader{
    width: 18rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 32rem;
    background-color: #FFFFFF;
}
.breakfast{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.settingToSide{
    width: 15rem;
    /* margin-left: -3rem; */
    justify-content: space-around;
    display: flex;
}
.setaline{
    margin-left: 1rem;
}
.tag_heading{
    font-family: cursive;
}
.comments_from{
    height: 4.3rem;
    width: 21.43rem;
}
.other_inclusion{
    height: 5.06rem;
    width: 47.93rem;
}
.other_exclusion{
    height: 5.6rem;
    width: 29.31rem;
}
.cancel_button{
    width: 4rem;
    height: 2rem;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    border-radius: 1rem;
    background-image: linear-gradient(to right,  rgb(97, 134, 215), rgb(124, 227, 210));
}
.cancel_button:hover{
    background-image: linear-gradient(to right,  rgb(107, 215, 97), rgb(102, 212, 69));
    cursor: pointer;

}
.cancel_button_div{
    display: flex;
    justify-content: space-between;
    /* float: right; */
}
.kRKnx{
    background-color: yellow !important;
}
.kRKnx.defaultCSS .search-box{
    background-color: #FFFFFF !important;
}
.Suggestions{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
}
.sendqueryButton{
    margin-left: 21rem;
    margin-top: 1rem;
}
.radiogroup{
    width: 11rem;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
}
.samplequotes_components{
    background-color: black;
    height: 10rem;
    margin-bottom: 0.1rem;
    /* font-family: serif; */
    font-family: Trebuchet MS;
    /* display: flex;
    justify-content: space-between; */
}
.Topsamplequotes_components{
    /* border: 1px solid greenyellow; */
}
.Topsamplequotes_components:hover{
    cursor: pointer;
}
.searchOption{
    display: flex;

}
.sampleQuoteHeader{
    display: flex;
    justify-content: space-between;
    background-color: #c7e8f5;
}
.divContainsThreeDiv{
    display: flex;
    justify-content: space-between;
}
.highglight{
    font-weight: 800;
    font-size: medium;
    color: #27a52d;
}
.highglight2{
    font-size: medium;
    color: yellow;
    margin-left: 1rem;
    font-family: Trebuchet MS;
    margin-bottom: 4px;
}
.tripIdDetails{
    border-bottom: 1px solid gray;
    font-weight: 800;
}
.basicInfo{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;

}
.hotelDetails{
    border-bottom: 1px solid gray;

}
.inclusionExclusionDetails_{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    height: 35rem;

}
.LeadLookUp{
    width: 22%;
    border: 2px solid gray;
    background-color: #c7e8f5;
}
.lookupaliner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.QuotesMapperDiv{
    width: 20rem;
    height: 42rem;
    overflow-y: scroll;
    background-color: #c7e8f5;
}
.QuotesDetails{
    width: 60rem;
    height: 42rem;
    overflow-y: scroll;
    border: 3px solid gray;
}
.SuggestionInclusion{
    border-bottom: 1px solid gray;
}
.inclusionExclusion__{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    border-bottom: 1px solid gray;
}
.sepratorLineForInclusionExclusion_{

}
.tripInfoP{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted gray;
}
.suggestionmapItineary{
    display: flex;
    flex-direction: column;
    border-bottom: 1px dotted gray;

}
.roomTypealiner{
    display: flex;
    flex-direction: row-reverse;
}