.popUp_body {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    overflow-y: scroll;
}

.save_close {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.compo_button {
    text-align: right;
    position: relative;
    background: none repeat scroll 0 0 #fe7774;
    border: 0;
    color: #fff;
    padding: 2px 10px;
    cursor: pointer;
}

.cost_body {

    /* width: 27rem; */
    /* height: 100%; */
    background-color: #f1ecec59;
    display: flex;
    flex-direction: column;
    margin-top: 0.4rem;

}

.san-serif {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
    background-color: #ff0000;
    background-image: linear-gradient(315deg, #ff0000 0%, #ffed00 74%);
    
}


.unitComponent_ {
    display: flex;
    flex-direction: column;
    width: 14rem;
}

.costOption_estimatiom_ {
    /* border-top: 1px solid; */
    border-bottom: 1px solid;
    display: flex;
}

/* pdf css */
.Header {
    width: 54.85rem;
    height: 78rem;
    border: 1px solid;
}

.footer_ {
    margin-top: 4rem;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Verdana;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.table {
    border-collapse: collapse;
}

.table_ {
    color: white;
    margin-top: 27rem;
    margin-left: 4rem;
    width: 86%;
    height: 11rem;

}

.pricing {
    width: 12rem;
    height: 16rem;
    /* background: white; */
    margin: 10rem;
    margin-left: 24rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.inclusionButtoon {
    height: 3rem;
    width: 14rem;
    /* background: yellow; */
    background-color: #ff0000;
    background-image: linear-gradient(315deg, #ff0000 0%, #ffed00 74%);
    font-size: 17px;
    font-weight: 700;
    border-radius: 30px;
}