.fullContainer {
    width: 99%;
    height: 15rem;
    /* background-color: blueviolet; */
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 0.2rem solid #56c2c4;
    border-radius: 0.5rem;
}

.compo_header {
    /* margin-top: -1rem; */
    width: 100%;
    height: 3rem;
    background: #f6f6f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sapn {
    text-decoration: underline !important;
    font-weight: 500;
}

.compo_button {
    text-align: right;
    position: relative;
    background: none repeat scroll 0 0 #fe7774;
    border: 0;
    color: #fff;
    padding: 2px 10px;
    cursor: pointer;
}

.compo_details {
    display: flex;
    justify-content: space-between;
}

.item1 {
    font-size: 12px;
    line-height: 16px;
}

.line1 {
    height: 4rem;
    display: flex;
    justify-content: space-between;
}

.line2 {
    margin-top: -0.8rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
}

.leftDiv {
    width: 50%;
    height: 10rem;
    /* background-color: #fe7774; */
}

.line {
    width: 100%;
    height: 1px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background-color: black;
}

.verticle_line {
    height: 100%;
    margin-top: 1rem;
    width: 1px;
    background-color: black;
}

.right {
    width: 48%;
    float: left;
}

.line1_right {
    margin: 2rem;
}

.traveller_details {
    display: flex;
    align-items: center;

}

.no_data {
    /* background-image: url("https://i.pinimg.com/originals/49/e5/8d/49e58d5922019b8ec4642a2e2b9291c2.png"); */
    background-image: url("https://media2.giphy.com/media/RMwgs5kZqkRyhF24KK/200.gif");
    /* background-image: url('https://c.tenor.com/_eA5w8vUqCUAAAAC/drugdo-jugdo.gif'); */
    height: 42rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.popUp_body {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    overflow-y: scroll;
}

.save_close {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.basicDetailsheading {
    margin: 10px;
    width: 89px;
    border: 0.2px dashed rgb(15, 15, 15);
    background-color: #56c2c4;
}

.HotelDetailsheading {
    margin: 10px;
    width: 95px;
    border: 0.2px dashed rgb(15, 15, 15);
    background-color: #56c2c4;
}

.basicDetails {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cost_estimation_body {

    /* width: 27rem; */
    height: 100%;
    background-color: #f1ecec59;
    display: flex;
    flex-direction: column;
    margin-top: 0.4rem;

}

.costOption {
    margin: 2rem;
    /* width: 27rem; */
    display: flex;
    border: 1px dashed;
    justify-content: space-evenly;
    /* background-color: #fe7774; */
}

.currency_option {
    width: 5rem;
    margin-top: 0.5rem;
}

.costOption_estimatiom {
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    margin-bottom: 2rem;
    align-items: flex-end;

}

.totalSeprator {
    margin-left: 4rem;
}

.input_filed {
    width: 7rem;
    height: 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.spacer {
    margin-left: 2rem;
}

.addMore {
    width: 6rem;
    background: none repeat scroll 0 0 #2ceb46;
    color: #fff;
    padding: 2px 10px;
    cursor: pointer;
    margin-left: 87%;
    margin-bottom: 3rem;
    border-radius: 1rem
}

.comments {
    width: 25rem;
    height: 5rem;
    margin-left: 4rem;
}

.FlightDetails {
    margin-left: 2rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.flightdetailsDrop {
    width: 74% !important;
    margin-left: 2rem
}

.flightdetails {
    margin-left: 2rem;
    width: 70rem;
    height: 9rem;
    margin-bottom: 2rem;
}

.inclusionExclusion {
    margin-top: 2rem;
    margin-left: 2rem;
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.itineary {
    margin-left: 2rem;
    width: 15%;
    font-size: large;
    font-weight: 600;
}

.dayByitineary {
    width: 55%;
    height: 3rem;
    margin: 1rem;
    border-radius: 1rem;
}

.title {
    margin: 1rem;
    font-weight: 600;
}

.Description {
    width: 80%;
    height: 4rem;
    margin: 1rem;

}

.days {
    border-bottom: 1px dotted rgb(117, 111, 111);
}

.tableAliner {
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Autocomplete {
    border: linear-gradient(to right, red, yellow);
}

.addNewLeadButton {
    height: 2rem;
    width: 7em;
    border: 3px solid yellow;
    border-radius: 6px;
    background: aquamarine;
}

.SelfLeadDiv {
    background-color: #FFFFFF;
    width: 28rem;
    border-radius: 10px;

}

.SelfLeadGenParentDiv {
    display: flex;
    font-size: 19px;
    font-weight: 700;
}

.SelfLeadGenleftDiv {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.SelfLeadGenRightDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40rem;
    margin-left: 2rem;
}

.SelfLeadButtonDiv {
    display: flex;
    justify-content: space-around;
}

.required {
    border: 2px solid green;
}

/* TableheaderCreatequote */
.Createquoteunicompo {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aliceblue;
    width: 98%;
    /* color: rgb(83, 5, 5); */
    /* background-image: url('../../../public/assets/Notification/flight.gif');
    background-size: cover;
    background-position: center center;
    background-repeat: 'no-repeat';
    align-items: center;
    height: 9rem; */


}

.flightbook {
    width: 5rem;
    height: 4rem;
    margin-top: 3rem;

}