.remark{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.childPdf{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.All_buttons{
    width: 25rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* ////////////////////////////// */
/* Leadsaccordingtotraveldate.js */
.form-container {
    max-width: 25rem;
    margin: auto;
    padding: 1.25rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  }
  
.form-group {
    margin-bottom: 0.9375rem;
  }
  
.labels{
    display: block;
    margin-bottom: 0.3125rem;
    font-weight: bold;
  }
  
.inputFeild,
  SelectFeild {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  
.buttonSubmit {
    display: inline-block;
    padding: 0.625rem 1.25rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
  }
  
.buttonSubmit:hover {
    background-color: #218838;
  }