.remark{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.childPdf{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.All_buttons{
    width: 25rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}