.myBar{
    width: 10%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
  } 
    

.custom-dateselector{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
}