.uni_installments{
    display: flex;
    /* width: 47rem; */
    justify-content: space-between;
    height: 4rem;
    font-size: 1.4rem;
    border: 1px solid pink;
    align-items: center;
}
.showInput{
    width: 10rem;
    height: 1.5rem;
    border: 2px solid yellow;
}
.searchFilter{
    border: 3px solid gray;
    font-weight: 600;
    font-style: italic;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.editInvoiceDiv{
    background: #FFFF;
    width: 40rem;
    overflow-y: scroll;
}
.installment{
    display: flex;
    justify-content: space-between;
    color: black;
    margin: 1rem;
}