.basic_details_PaymentsPage {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px dashed gray;
}

.personal_details {
    /* border: 1px solid yellow; */
    font-size: 17px;
    font-family: sans-serif;
    text-decoration: underline;
    color: #1b5786;
}

.PaymentsButton{
    width: 7rem;
    height: 3rem;
    align-items: center;
}
.PaymentButtonDiv{
    display: flex;
    width: 60%;
    justify-content: space-between;
}