.global_search {
    display: flex;
    justify-content: space-evenly;
    width: 71%;
    margin-top: 1rem;
    position: absolute;
    top: 0;
}

.option_selector {
    width: 9rem;
    /* border: 0rem; */
    color: orangered;
    font-family: cursive;
}

.global_search_button {
    color: blue;
    border-radius: 1rem;
}

.details_of_specific_trip {
    margin-left: 0.2rem;
    width: 99%;
    /* height: 5rem; */
    /* background-color: aqua; */
    border: 0.1rem solid rgb(204, 33, 223);
    margin-top: 0.3rem;
}

.Tripid {
    color: brown;
    border: 0.1rem solid green;
    width: 15rem;
    margin-left: 2rem;
}

.Tripid:hover {
    transform: scale(1.1);
}

.client_detail {
    display: flex;
    justify-content: space-between;
}

.trip_details {
    padding-right: o.3rem;
}

.AllDetailsOfTripQuoteComments {
    /* height: 5rem; */
    /* background: black; */
    display: flex;
    justify-content: space-between;
}

.allComments {
    border: 2px solid black;
    width: 33rem;
    height: 10rem;
    overflow-y: scroll;

}

.comment_ {
    background-color: rgb(220 201 201);
    /* height: 3rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.3rem;
}

.voucher_and_payments {
    width: 29rem;
    /* background: aqua; */
}

.hotel_flight_others {
    display: flex;
    justify-content: space-between;
    width: 13rem;
    margin-left: 15rem;
}

.vouchers_upload {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.upload_radio_button {
    width: 13rem;
    justify-content: space-between;
    display: flex;
    margin-right: 1rem;
}

.upload_proof {
    color: blue;

}

.upload_proof:hover {
    cursor: pointer;
}

.uploaderPopUp {
    background: aliceblue;
    width: 12rem;
    height: 12rem;
    margin: 7rem;
    border-radius: 0.5rem;
}

.optionChoose {
    width: 8rem;
    height: 2rem;
    margin: 2rem;
}

.upload_button {
    margin: 1rem;
    margin-left: 4rem;
}

.childpopup {
    background: #cda2d0;
    display: none;
    width: 400px;
    height: 200px;
    margin: -13rem;
    margin-left: -25rem;
    backface-visibility: hidden;
    overflow-y: scroll;
}

.parent {
    height: 1rem;
    width: 15px;
    background-color: #FFFFFF;
}

.childpopup {
    display: none;
}

.parent:hover .childpopup {
    display: block;
}

.hover_popup_main_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 1rem;

}
.delete_button{
    width: 3rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    cursor: pointer;
    border: none;
}
.expand_details{
    width: 1rem;
}
.expand_details_{
    width: 1rem;
    transform: rotate(180deg);
}
.packageAndInvoice{
    display: flex;
    flex-direction: column;
}
/* Payments Block for Accounts */
.paymentsConfirmer{

}
.uni_installments{
    display: flex;
    width: 47rem;
    justify-content: space-between;
}

.glow {
    font-size: 80px;
    color: rgb(217, 243, 28);

  }
  
