.Driver_header{
    background: antiquewhite;
    height: 4rem;
    /* width: 80%; */
    position: sticky;
    top: 0rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.listofuser{
    background-color: white;
    width: 30rem;
    margin: 4rem;
    margin-left: 62rem;
    overflow-y: scroll;
    height: 30rem;
}
.userlist_button{
    margin-right: 1rem;
}
.Driver_components1{ 
    align-items: center;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    margin-bottom: 1rem;
    height: 10rem;
    background: black;
    color: white;
    /* color: #FFFFFF;
    background: radial-gradient(#111112, bisque);   */
}
.Driver_components_{
    align-items: center;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    margin-bottom: 1rem;
    height: 14rem;
    color: black;
    background: radial-gradient(#00ffef, #3e8c8a);
}
.driverButton{
    width: 8rem;
    height: 2rem;
}
.limitComments{
    /* width: 5rem;
    height: 4rem; */
}
.livedata{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
/* .table, th, td {
    border:1px solid black;
    border-collapse: collapse;
  } */