.checker{
    color: rgb(102, 233, 109);
    /* border: 2px; */
}
.checker1{
    /* height: 2rem; */
}
.tooltip-wrap {
    position: relative;
  }
  .tooltip-wrap .tooltip-content {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background-color: #fff;
    padding: .5em;
  }
  .tooltip-wrap:hover .tooltip-content {
    display: block;
  }